	<table class = "table table-bordered table-striped table table-hover pretty">
		  <thead>
	  <tr>
	    <th>First name</th>
	    <th>Last name</th>
		<th></th>
		<th></th>
		<th></th>
	  </tr>
  </thead>
  <tbody>
	  <% @workers.each do |worker| %>
	    <tr>
	      <td><%= worker.first_name %></td>
	      <td><%= worker.last_name %></td>
	      <td><%= link_to 'Show', worker %></td>
	      <td><%= link_to 'Edit', edit_worker_path(worker) %></td>
	      <td><%= link_to 'Destroy', worker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	    </tr>
	  <% end %>
		  </tbody>
	</table>
