<center>
<h1>Listing Work Orders</h1>
<hr>
</center>

<center>
	<%= link_to 'New Work Order', new_work_order_path, id: "new_link", remote: true %>

<br/>
<hr/>


<%= form_tag work_orders_path, :method => 'get', :id => "wosearch" do %>
  <p>
    <%= select_tag :search, options_for_select(status_list) %>
    <%= submit_tag "Search", :class => "btn btn-primary"%>
  </p>
  	<%= link_to 'Show all', work_orders_path %>
<% end %>

	<br/><br/>
	
<div id="workorderlist">
	<%= render 'list_work_orders' %>
</div>






<%= link_to 'Workers', workers_path %>
</center>