<center>
	<h1>Details for work order #<%= @work_order.id %> </h1>
<p id="notice"><%= notice %></p>

<table class = "table table-bordered table-striped table table-hover pretty">
	<tr>
		<th>Details</th>
		<th>Status</th>
	</tr>
	<tr>
		<th><%= best_in_place @work_order, :details %></th>
		<th><%= best_in_place @work_order, :status %></th>
	</tr>
</table>
</center>

<p>Click field to edit</p>
<br/>

<%= link_to 'Edit', edit_work_order_path(@work_order) %> |
<%= link_to 'Back', work_orders_path %>