<div class='main_content'>
  <h2>Contact Details</h2>
  <p>
    <%= best_in_place_if signed_in?, @faculty_member, :first_name %> <%= best_in_place_if signed_in?, @faculty_member, :last_name %><br />
    University of Astalia<br />
    Department of <%= best_in_place_if signed_in?, @faculty_member, :department %><br />
    7700 University Avenue<br />
    Winston, AS 81414-1314
  </p>

  <p>
    <strong>Email: </strong>
    <%= best_in_place_if signed_in?, @faculty_member, :email%>
    <br />
    <strong>Office: </strong>
    <%= best_in_place_if signed_in?, @faculty_member, :office %>
    <br />
    <strong>Phone: </strong>
    <%= best_in_place_if signed_in?, @faculty_member, :phone %>
  </p>
</div>
<% if signed_in? %>
	<p>*Click on fields to edit*</p>
<% end %>