<div class='main_content'>
  <h2>Curriculum Vitae</h2>

  <h3>Education</h3>
    <% @degrees.each do |degree| %>
      <div class='cv-output'>
        <strong><%= best_in_place_if signed_in?, degree, :institution %></strong><br />
        <%= best_in_place_if signed_in?, degree, :title %> <%= best_in_place_if signed_in?, degree, :field_of_study %>
        <p class='dates'>
          <%= best_in_place_if signed_in?, degree, :issue_date %>
        </p>
		<%= link_to raw("<i class=\"icon-bin icon-white\"></i> Remove"), degree, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' if signed_in? %>
      </div>
    <% end %>
    <% if signed_in? %>
		<p>*Click on fields to edit*</p>
    <% end %>
    <%= link_to 'Add degree', new_degree_path, class: 'btn btn-mini' if signed_in? %>
  <hr>

  <h3>Employment</h3>
    <% @employments.each do |employment| %>
      <div class='cv-output'>
        <strong>
        	<%= best_in_place_if signed_in?, employment, :company %>
        </strong>
        <br />
        <%= best_in_place_if signed_in?, employment, :position %>
        <p class='dates'>
        <%= best_in_place_if signed_in?, employment, :start_date %> To
        <%= best_in_place_if signed_in?, employment, :end_date %>
        </p>
        <p>
        <%= best_in_place_if signed_in?, employment, :summary %>
        </p>
		<%= link_to raw("<i class=\"icon-bin icon-white\"></i> Remove"), employment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' if signed_in? %>
      </div>
    <% end %>
    <% if signed_in? %>
		<p>*Click on fields to edit*</p>
    <% end %>
    <%= link_to 'Add employment', new_employment_path, class: 'btn btn-mini' if signed_in? %>
  <hr>

  <h3>Publications</h3>
    <% @publications.each do |publication| %>
      <div class='cv-output'>
        <strong>
        	<%= best_in_place_if signed_in?, publication, :title %>
        </strong>
        <p class='dates'>
          <%= best_in_place_if signed_in?, publication, :year %>
        </p>
        <p>
        <%= best_in_place_if signed_in?, publication, :summary %>
        </p>
		<%= link_to raw("<i class=\"icon-bin icon-white\"></i> Remove"), publication, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' if signed_in? %>
      </div>
    <% end %>
    <% if signed_in? %>
		<p>*Click on fields to edit*</p>
    <% end %>
    <%= link_to 'Add publication', new_publication_path, class: 'btn btn-mini' if signed_in? %>
  <hr>

  <h3>Research</h3>
    <% @researches.each do |research| %>
        <div class='cv-output'>
          <strong>
            <%= best_in_place_if signed_in?, research, :topic %>
          </strong>
          <br />
          <p class='dates'>
		      <%= best_in_place_if signed_in?, research, :start_date %>	
		       To
		       <%= best_in_place_if signed_in?, research, :end_date %>	
            
          </p>
		  <%= link_to raw("<i class=\"icon-bin icon-white\"></i> Remove"), research, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' if signed_in? %>
        </div>
    <% end %>
    <% if signed_in? %>
		<p>*Click on fields to edit*</p>
    <% end %>
    <%= link_to 'Add research', new_research_path, class: 'btn btn-mini' if signed_in? %>
  <hr>

  <h3>Awards</h3>
    <% @awards.each do |award| %>
      <div class='cv-output'>
        <strong>
         <%= best_in_place_if signed_in?, award, :title %>
        </strong>
        <br />
        <%= best_in_place_if signed_in?, award, :issuer %>
        <p class='dates'>
          <%= best_in_place_if signed_in?, award, :issue_date %>
        </p>
        <p>
        <%= best_in_place_if signed_in?, award, :summary %>
        </p>
		<%= link_to raw("<i class=\"icon-bin icon-white\"></i> Remove"), award, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' if signed_in? %>
      </div>
  <% end %>
  <% if signed_in? %>
	<p>*Click on fields to edit*</p>
  <% end %>
  <%= link_to 'Add award', new_award_path, class: 'btn btn-mini' if signed_in? %>
</div>