<div class='main_content'>
  <h2>Research Projects</h2>
  <% @researches.each do |research| %>
    <strong><%= best_in_place_if signed_in?, research, :topic %></strong>
    <p class='dates'>
      <%= best_in_place_if signed_in?, research, :start_date %>	
       To
       <%= best_in_place_if signed_in?, research, :end_date %>	
    </p>
    <p>
    <%= best_in_place_if signed_in?, research, :summary %>
    </p>
	<%= link_to raw("<i class=\"icon-bin icon-white\"></i> Remove"), research, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' if signed_in? %>
    <hr>
  <% end %>
  
  <% if signed_in?%>
  	<p>*Click on fields to edit*</p>
  <% end %>
  
  <%= link_to 'Add research', new_research_path, class: 'btn'  if signed_in? %>
</div>