<center>
<h1>Details for <%= @worker.first_name %> <%= @worker.last_name %></h1>
<br/><br/>
<h2>Assigned Work Orders</h2>

<table class = "table table-bordered table-striped table table-hover pretty">
    <tr>
	  <th>First Name</th>
	  <th>Last Name</th>
      <th>Details</th>
      <th>Status</th>
    </tr>

  <tbody>
    <% @worker.work_orders.each do |worker| %>
      <tr>
  		<td><%= best_in_place @worker, :first_name %></td>
		<td><%= best_in_place @worker, :last_name %></td>
        <td><%= worker.details %></td>
        <td><%= worker.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</center>
<p>*Click name to edit*</p>
<br/>

<center>
<%= link_to 'Back', root_path %>
</center>
